@model Web.Models.StudentModel

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    @{
        var img = $"data:image/gif;base64,{Convert.ToBase64String(Model.Imagem!)}";
    }
    <h4>StudentModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeAluno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeAluno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AlunoCPF)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AlunoCPF)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Curso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Curso)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Codigo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nivel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nivel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tempo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tempo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Imagem)
        </dt>
        <dd class = "col-sm-10">

            <img src=@img style="max-width:100px; max-height:100px;" />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Habilidades)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Habilidades)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Voltar para lista</a>
</div>
