@model IEnumerable<Web.Models.StudentModel>
@{
    var modal = "Modal";
}   
@{
    ViewData["Title"] = "Dashboard";
}
<div>
    <h4>Dashboard</h4>
    <hr />
    <dl class="row">
        <dt>Badges</dt>
        <dd class="col-sm-10">
            @foreach (var item in Model)
            {
                var img = $"data:image/gif;base64,{Convert.ToBase64String(item.Imagem!)}";
                <a href="#" data-bs-toggle="modal" data-bs-target='#@modal@item.Codigo'><img src='@img' style="max-width:300px; max-height:300px;" /></a>
            }
        </dd>
    </dl>
</div>

@foreach (var item in Model){
    <div class="modal fade" id="@modal@item.Codigo" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
            <div class="modal-content rounded-0">
                <div class="modal-header">
                        <h5 class="modal-title fs-5" style="font-weight: 600">@item.Curso</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body py-0 container-sm">
                        @{var img = $"data:image/gif;base64,{Convert.ToBase64String(item.Imagem!)}";}
                        <a href="#" data-toggle="modal" data-target="#sitemodal"><img class="text-center" src='@img' style="max-width:450px; max-height:450px; margin-bottom: 5em" /></a>

                        <div class="container text-center">   
                            <div class="row">
                                <div class="col">
                                    <h3>Nome do aluno</h3><h5>@item.NomeAluno</h5>
                                </div>
                                <div class="col">
                                    <h3>Código</h3><h5>@item.Codigo</h5>
                                </div>

                                <div class="col">
                                    <h3>Tipo do Curso</h3> <h5>@item.Tipo</h5>
                                </div>
                            </div>
                        </div>
                        <br>
                        <br>
                        <div class="container text-center" style="margin-top:2em;">
                                <div class="row">
                                    <div class="col">
                                        <h3>Duração do Curso</h3> <h5>@item.Tempo</h5>
                                    </div>
                                    <div class="col">
                                        <h3>Nível do Curso</h3>  <h5>@item.Nivel</h5>
                                    </div>
                                    <div class="col">
                                         <h3>Habilidades</h3>  <h5>@item.Habilidades</h5>
                                </div>
                        </div>


                        <br>
                        <br>
                        <div class="ms-auto" style="margin-top:2em; ">
                            <h3>Descrição</h3><h5>@item.Descricao</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}